# Lokalnie skopiuj do .env i uzupełnij
FLASK_ENV=development
FLASK_APP=run.py
PORT=8000

# Render ustawia DATABASE_URL automatycznie po podpięciu bazy PG
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/kwiatownik

# Opcjonalne
APP_SECRET=change-me
