{% extends "base.html" %}
{% block title %}Kontakt – Kwiatownik{% endblock %}
{% block content %}

<div class="kontakt-box" style="max-width:470px;margin:2.3em auto 3.2em auto;background:#fff;border-radius:18px;
box-shadow:0 0 28px 10px #9c9696a0;border:0.6px solid #ececec;padding:2.1em 2.4em 1.7em 2.4em;">

    <div style="display:flex;align-items:center;gap:0.95em;margin-bottom:0.8em;">
        <img src="/static/img/kwiatownik_logo.png" alt="Logo Kwiatownika"
             style="width:34px;height:34px;border-radius:50%;box-shadow:0 1px 4px #e2e2e2b0;">
        <h2 style="margin:0;font-size:1.24em;letter-spacing:0.02em;font-weight:800;color:#234813;">Kontakt</h2>
    </div>

    <div style="font-size:1.09em;color:#193c18;margin-bottom:0.8em;">
        Masz pytania, sugestie, chcesz zgłosić błąd lub podzielić się przepisem?<br>
        <b>Napisz do mnie – każda wiadomość jest ważna!</b>
    </div>


    <div style="margin-bottom:0.7em;">
        <span style="color:#297124;font-weight:bold;">Zgłoszenia, pomysły, współpraca:</span>
        <ul style="padding-left:1.2em;margin-top:0.1em;margin-bottom:0.1em;">
            <li>Możesz użyć <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSc4Cj-klfVitmYBLLpwYHStZ7vTsIFJ3mugJm7LW5QkiVACGQ/viewform?embedded=true"
                    style="color:#237533;text-decoration:underline;" target="_blank">formularza Google</a></li>
            <li>Wesprzyj projekt na <a href="https://zrzutka.pl/72a4ab"
                                       style="color:#297124;text-decoration:underline;font-weight:600;" target="_blank">zrzutce</a>
            </li>
        </ul>
    </div>
    <div style="font-size:0.98em;color:#2c452a;">
        Odpowiadam w ciągu 96h. Dziękuję za każdą opinię!
    </div>
</div>

{% endblock %}
