{% extends "base.html" %}
{% block title %}{{ category|capitalize }}{% endblock %}
{% block content %}
<h2>Rośliny: {{ category|capitalize }}</h2>

<div>
    {% for slug, data in wyniki %}
    <div class="plant-card">
        <div>
            <a href="{{ url_for('roslina', category=category, plant=slug) }}">
                <b>{{ data.gatunek }}</b>
            </a>
            {% if data.nazwa_lacinska %}<i>({{ data.nazwa_lacinska }})</i>{% endif %}
            <span class="fav-btn" data-plant="{{ category }}/{{ slug }}"
                  onclick="toggleFav('{{ category }}/{{ slug }}')">💚</span>
            <span class="garden-btn" data-plant="{{ category }}/{{ slug }}"
                  onclick="toggleGarden('{{ category }}/{{ slug }}')">🌱</span>
        </div>
        <div style="font-size:0.95em; margin-top:0.4em;">
            <b>Ścieżka:</b>
            {{ data.nazwa_zbioru|join(' → ') if data.nazwa_zbioru else '' }}
        </div>

    </div>
    {% endfor %}
</div>
<script>
window.onload = updateFavIcons;
</script>
{% endblock %}
