{% extends "base.html" %}
{% block title %}Wyniki wyszukiwania{% endblock %}
{% block content %}
<h2 style="margin-bottom:1.2em;">
    Wyniki wyszukiwania dla <span class="search-query">"{{ q }}"</span>
</h2>

{% if results %}
    <ul class="search-results">
    {% for plant in results %}
        <li class="result-item">
            <div class="plant-title">
                <a href="{{ url_for('roslina', category=plant.category, plant=plant.slug) }}">{{ plant.name }}</a>
                <span class="latin">({{ plant.latin }})</span>
            </div>
            {% if plant.matches %}
            <ul class="matches">
                {% for field, text in plant.matches %}
                    <li>
                        <span class="match-label">{{ field }}:</span>
                        <span class="match-content">{{ text|safe }}</span>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p style="margin-top:1.7em;">Brak wyników.</p>
{% endif %}

{% endblock %}
